html, body{
    height:100%;
    margin:0;
    padding:0;
}
body *{
    box-sizing: border-box;
    font-family: Arial, Helvetica, Sans-serif;
}
#nav, main, #footer{
    margin:auto !important;
    max-width:90%;
    min-width:640px;
}
#container {
    box-sizing:border-box;
    height: 100%;
}
.error{
    color: red;
    position: fixed;
    right: 10%;
}
.info{
    background-color: #eee;
    border-radius: 4px;
    margin-bottom: 6px;
    padding: 10px;
}
.info.orange{
    background-color: orange;
}
.info.sky{
    background-color: lightskyblue;
}
.info >div{
     background-color: #fff;
     margin-top: 6px;
     padding: 10px;
}
.info >div::after{
    content:" ";
}
.offsetVertical10,
section{
    padding-top:10px;
    padding-bottom:10px;
}
nav{
    margin:auto -10px;
    padding:10px;
}
footer{
    background-color:#efefef;
}
#footer{
    height:60px;
    line-height:60px;
    padding:0 10px;
}
#main{
    min-height:100%;
    margin-bottom:-60px;
    padding:0 10px 80px;
}
nav{
    background-color: #eaebec;
}
